<%#<div> %>
  <%# flash.each do |key, value| %>
    <%#= content_tag :div, value, class: key %>
  <%# end %>
<%#</div>%>

<div class="container">
  <div class="row">
    <div class="col">
      <%= notice %>
      <%= alert %>
      <%= render partial: 'users/new', locals: { user: @user} %>
      </div>
    <div class="col">
      <h1>Books</h1>
        <table class="table">
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
          <% @user.books.each do |book| %>
          <tr>
            <td><%= link_to "/users/#{@user.id}" do %><%= attachment_image_tag @user, :profile_image %><% end %></td>
            <td><%= link_to book.title, "/books/#{book.id}" %></td>
            <td><%= book.body %></td>
          </tr>
          <% end %>
        </table>
    </div>
  </div>
</div>