<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/6f32c97baa.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
        <a href = "/" class="navbar-brand">Bookers</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#nav-menu" aria-controls="#nav-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav-menu">
          <ul class="navbar-nav ml-auto">
            <% if !user_signed_in? %>
              <li><a class="my-1 nav-link text-light fas fa-home" href='/'> Home</a></li>
              <li><a class="my-1 nav-link text-light fas fa-link" href='/home/about'> About</a></li>
              <li><a class="my-1 nav-link text-light fas fa-user-plus" href='/users/sign_up'> sign up</a></li>
              <li><a class="my-1 nav-link text-light fas fa-sign-in-alt" href='/users/sign_in'> login</a></li>
            <% else %>
              <li><%= link_to " Home", user_path(current_user.id), class:"my-1 nav-link text-light fas fa-home" %></li>
              <li><a class="my-1 nav-link text-light fas fa-users" href= '/users'> Users</a></li>
              <li><a class="my-1 nav-link text-light fas fa-book-open" href='/books'> Books</a></li>
              <li><%= link_to ' logout', '/users/sign_out', method: :delete, class:"nav-link text-light fas fa-sign-out-alt my-1" %></li>
            <% end %>
          </ul>
        </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
